/*公用的css*/
*,
::before,
::after{
    padding: 0;
    margin: 0;
    /*去除在所有的浏览器当中点击过后有一个高亮的效果*/
    -webkit-tap-highlight-color: transparent;/*设置透明*/
    tap-highlight-color: transparent;
    /*需要设置所有的元素宽度以边框开始计算*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: "MicroSoft YaHei",sans-serif;/*如果没有微软雅黑 就使用移动端默认的字体*/
    font-size: 14px;
    color: #333;
}
ol,ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
a:hover{
    color: #333;
}

/*清楚移动端浏览器对表单的默认样式*/
input[type="search"],input[type="tel"],textarea{
    border: 0;
    resize: none;
    outline: none;
    /*清除移动浏览默认的样式,表单的立体阴影一类*/
    -webkit-appearance: none;
}

.f_left{
    float: left;
}
.f_right{
    float: right;
}

/*清除浮动*/
.clearfix::after,
.clearfix::before{
    content: ".";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;

    clear: both;
}

/*通用图标*/
[class^="icon_"]{
    background: url("../img/sprites.png") no-repeat;
    background-size: 200px 200px;
}
/* 顶部通栏 */
.jd_topBar {
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #e0e0e0;
    background: url('../img/header-bg.png') repeat-x;
    background-size: 1px 44px;
    position: absolute;
    top: 0;
    left: 0;
}
.jd_topBar .icon_back {
    width: 40px;
    height: 44px;
    padding: 12px 10px;
    background-position: -20px 0;
    position: absolute;
    left: 0;
    top: 0;
    background-clip: content-box;
    /* 以什么位置显示背景图 */
    background-origin: content-box;
    /* 以什么位置定位背景图 */
}
.jd_topBar h3 {
    text-align: center;
    line-height: 44px;
    font-size: 16px;
    font-weight: normal;
}
.jd_topBar form {
    width: 100%;
    padding: 0 40px;
}
.jd_topBar form input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 30px;
    margin-top: 7px;
}
.jd_topBar .icon_menu {
    width: 40px;
    height: 44px;
    padding: 12px 10px;
    background-position: -60px 0;
    position: absolute;
    right: 0;
    top: 0;

    background-clip: content-box;
    background-origin: content-box;
}