body {
	background: #f5f5f5;
}

.jd_topBar {
	position: relative;
}
.jd_safeTip {
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-bottom: 1px solid #ccc;
	background: #fff;
}
.jd_safeTip p {
	display: inline-block;
	position: relative;
	padding-left: 23px;
	font-size: 12px;
}
.jd_safeTip p:before {
	position: absolute;
	left: 0;
	top: 7px;
	width: 18px;
	height: 18px;
	content: '';
	background: url('../img/safe_icon.png') no-repeat;
	background-size: 18px 18px;
}

/* 订单 */
.jd_order {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #fff;
	margin-top: 10px;
	min-height: 200px;
}

/* 公用复选框 */
.jd_check_box {
	width: 20px;
	height: 20px;
	display: block;
	background: url('../img/shop-icon.png') no-repeat;
	background-size: 50px 100px;
}
.jd_check_box[checked]{
	background-position: -25px 0 ;
}

.shop_check .jd_check_box {
	margin-top: 7px;
	margin-left: 10px;
	position: absolute;
	left: 0;
	top: 0;
}

/* 店铺内容 */
.jd_order_shop {
	position: relative;
}
.shop_con {
	padding-left: 40px;
	line-height: 34px;
	width: 100%;
}
.shop_con .shop_con_logo {
	float: left;
	margin-top: 10px;
}

.shop_con .shop_con_name {
	float: left;
	font-size: 15px;
}
.shop_con .shop_con_tip {
	float: right;
	color: #d8505c;
	font-size: 12px;
	margin-right: 10px;
}
/* 商品盒子 */
.product {
	position: relative;
	border-top: 1px solid #ccc;
	padding-top: 10px;
}
.product .product_check {
	position: absolute;
	width: 40px;
}
.product .jd_check_box {
	margin-top: 20px;
	margin-left: 10px;
}

.product .product_box {
	width: 100%;
	padding-left: 40px;
	height: 90px;
	padding-bottom: 10px;
}
.product .product_box .product_img {
	width: 80px;
	height: 80px;
	float: left;
}
.product .product_box .product_img img {
	display: block;
	width: 100%;
	height: 100%;
}
.product .product_box .product_info {
	overflow: hidden;
	height: 80px;
	padding: 0 10px;
}

/* 商品信息 */
.product_info .product_info_name {
	height: 30px;
	line-height: 15px;
	font-size: 13px;
	overflow: hidden;
	display: block;
}

.product_info .product_info_price {
	color: #d8505c;
	font-size: 14px;
	margin-top: 3px;
}
.product_info .product_info_option{
	margin-top: 3px;
}
/* 数量选择 */
.changeNum {

}

.changeNum span:first-child {
	border: 1px solid #ccc;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	font-size: 12px;
	line-height: 24px;
	text-align: center;
	height: 24px;
	width: 32px;
	float: left;
}

.changeNum input {
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	height: 24px;
	width: 32px;
	text-align: center;
	float: left;
}
.changeNum span:last-child {
	border: 1px solid #ccc;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	font-size: 12px;
	line-height: 24px;
	text-align: center;
	height: 24px;
	width: 32px;
	float: left;
}
/* 删除篓子 */
.delete_up {
	display: block;
	width: 20px;
	height: 5px;
	background: url('../img/delete_up.png') no-repeat;
	background-size: 20px 5px;
	margin-left: -1px;
}
.delete_down {
	display: block;
	width: 18px;
	height: 18px;
	background: url('../img/delete_down.png') no-repeat;
	background-size: 18px 18px;
	margin-top: -2px;
}

/* 弹出层 */
.jd_popWin {
	background: rgba(0,0,0,.6);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	display: block;
}
.jd_popWin .jd_popWin_box {
	width: 85%;
	margin: 0 auto;
	background: #fff;
	padding: 10px;
	border-radius: 4px;
	margin-top: 200px;
}
.jd_popWin .jd_popWin_box .tit {
	font-size: 18px;
	text-align: center;
	line-height: 75px;
	border-bottom: 1px solid #ccc;
}
.jd_popWin .jd_popWin_box .con {
	width: 100%;
	margin-top: 10px;
}

.jd_popWin .jd_popWin_box .con .cancel {
	width: 45%;
	height: 36px;
	line-height: 36px;
	text-align: center;
	font-size: 14px;
	margin-right: 10%;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	float: left;
}

.jd_popWin .jd_popWin_box .con .submit {
	width: 45%;
	height: 36px;
	line-height: 36px;
	text-align: center;
	font-size: 14px;
	background: #d8505c;
	border-radius: 4px;
	float: left;
	color: #fff;
}
/* 动画 */
@keyframes bounce {
	0%{
		transform: translateY(-3000px);
		-webkit-transform: translateY(-3000px);
		opacity: 0;
	}
	60%{
		transform: translateY(30px);
		-webkit-transform: translateY(30px);
		opacity: 1;
	}
	75%{
		transform: translateY(-15px);
		-webkit-transform: translateY(-15px);
	}
	90%{
		transform:translateY(5px);
		-webkit-transform: translateY(5px);
	}
	100%{
		opacity: 1;
		transform: none;
		-webkit-transform: none;
	}
}

.jd_popWin_box.bounce {
	animation: bounce 1s ease;
	
}